.corpo{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1em;
    background-image: url(escolinha.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.quadro{

    display: flex;
    border: black 1px solid;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    height: 60%;
    border-radius: 1%;
    overflow: auto;
    background-color: white;

}

.quadradao {
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    border: black 1px solid;
    border-radius: 10px;
    gap: 1em;
    background: linear-gradient(rgb(211, 240, 45), #aec81d);
}

.titulo {
    color: white;
    padding-top: 1em;
    font-weight: bold;
    font-size: 200%;
}